<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Glow Up</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>glow_up</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>NSContactsUsageDescription</key>
	<string>GlowUp needs access to your contacts to find friends already on the app and make battles more fun!</string>

	<key>NSCameraUsageDescription</key>
	<string>GlowUp needs access to your camera to let you snap full-body outfit photos for your daily GlowUp battle.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>GlowUp needs access to your photo library so you can select an existing outfit photo from your camera roll to post as today's fit.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>GlowUp saves your posted GlowUp photos to your library for easy sharing and backups.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>GlowUp needs microphone access to record sound when capturing video outfits for battles.</string>

	<key>GIDClientID</key>
	<string>93874100060-s8f65kgcfnu13sv65uupel5bt4kb373m.apps.googleusercontent.com</string>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.93874100060-s8f65kgcfnu13sv65uupel5bt4kb373m</string>
			</array>
		</dict>
	</array>
	
</dict>
</plist>
